:root{
    --mainColor : #252734 ;
    --secondaryColor : #333646 ;
    --acsentColor : #FF9100 ;  
}

body {
    background-color: var(--mainColor) ;
    min-height: 900px;
    font-family: 'ubuntu', sans-serif;
}

section h1{
    color:#ffffff;
    font-size: 2.5rem;

}

/* Navbar */

.nav-link.active {
    color: var(--acsentColor) !important;
    font-weight: 700;
}

/* End Navbar */

/* Hero */
.color-acsent {
    color: var(--acsentColor);
}

#hero {
    color:#ffffff;
    min-height: 100vh;
}

#hero h1{
    font-size: 2.5rem;
}

#hero h2{
    font-weight: 3000;
}

#hero p{
    font-size: 1rem;
    font-weight: 300;
}

/* CTA */
.btn-custom1{
    background-color: var(--acsentColor);
    text-align: center;
    color: #ffffff;
    min-width: 150px;
    height: 45px;
    font-weight: 700;
    font-size: 1.2rem;
}

.btn-custom1:hover {
    box-shadow: 0 0 5px rgba(255, 166, 0, 0.8);
}

.cv {
    color:#ffffff;
    cursor:pointer;
    font-size: 1.1rem;
}

.social-icon svg{
    margin-right: .7rem;
    margin-bottom: 10px;
    
}

.social-icon-footer svg {
    margin-right: .7em;
    margin-bottom: 10px;
}
/* End Hero */

/* About */
hr {
    width: 35%;
    height: 5px;
    color:var(--acsentColor);
    margin: 0 auto;
    opacity: 100;
}

#about {
    min-height: 300px;
    width: 100%;
    background-color: var(--secondaryColor);
    color:#fff;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 80px;
}

/* End About */

/* Skill */

#skill {
    min-height: 600px;
    width: 100%;
    color:#fff;
}

#skill img {
    width: 12%;
    margin: 10px;

}

#skill .card {
    background-color: #414558;
    height: 340px;
    
}

.skill-konten {
    margin-top: 120px;
}

/* End Skill */


/* Sertifikat */

#sertifikat {
    margin-top: -170px;
    padding: 270px;
    padding-bottom: 80px;
    background-color: var(--secondaryColor);
}

#serifikat p, a {
    color: #fff !important;
    text-decoration: none;
    
}

#sertifikat img {
    width: 49%;
    padding: 10px;
}

/* End Sertifikat */

/* Galery Portofolio */

#portofolio .container {
    padding: 80px 10px ;
}

/* End Portofolio */